{{>layout/header}}
<script>
$(document).ready(function() {
    var pageSize = {{pageIndex}};
    var currPage = {{page}} + 0;
    $("#page_numbers").text(currPage+1 + " 페이지 / 전체 " + pageSize);
    for(var i = 0; i < pageSize; i++){
        $("#page_list").append("<option value='"+i+"'>"+(i+1)+"</option>");
    }
    $("#page_list").on("change", function(){
        var v = $("#page_list > option:selected").val();
        //alert("선택되어있는 셀렉트의 value == " + v);
        window.location.href = '?page='+v;
    });
    $("#page_list option:eq("+currPage+")").prop('selected', true); // option 3번째 선택
});
</script>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#sessionUserName}}
                    Looged in as : <span id="user">{{sessionUserName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    {{#sessionRoleAdmin}}
                    <a href="/simple_users/list" class="btn btn-secondary active" role="button">
                        회원관리
                    </a>
                    {{/sessionRoleAdmin}}
                    {{^sessionRoleAdmin}}
                        {{#sessionUserId}}
                            <a href="/mypage/mypage/{{sessionUserId}}" class="btn btn-secondary active" role="button">
                                마이페이지
                            </a>
                        {{/sessionUserId}}
                    {{/sessionRoleAdmin}}
                {{/sessionUserName}}
                {{^sessionUserName}}
                    <!--
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                        Google Login
                    </a>
                    <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">
                        카카오 로그인
                    </a>
                    -->
                    <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">
                        Naver Login
                    </a>
                    <a href="/login" class="btn btn-warning active" role="button">
                        회원로그인
                    </a>
                    <a href="/signup" class="btn btn-secondary active" role="button">
                        회원가입
                    </a>
                {{/sessionUserName}}
            </div>
        </div>
    </div>
    <br>
    <form action="/" method="GET">
        <div class="btn-group" role="group" aria-label="Basic example">
            <input value="{{sessionKeyword}}" name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <input type="hidden" name="search_type" value="title">
            <button class="btn btn-secondary">검색</button>
        </div>
    </form>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-string">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/read/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <span id="page_numbers" class="badge badge-secondary" style="padding: 12px;"></span>&nbsp;
        {{#prevCheck}}
            <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        {{/prevCheck}}
        {{^prevCheck}}
            <li class="page-item disabled"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        {{/prevCheck}}
        <select id="page_list" class="form-control col-md-2">

        </select>
        <!-- 의미 없어서 제거
        {{#pageIndex}}
            <li class="page-item"><a class="page-link" href="?page={{.}}">{{.}}</a></li>
        {{/pageIndex}}
        -->
        {{#nextCheck}}
            <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
        {{/nextCheck}}
        {{^nextCheck}}
            <li class="page-item disabled"><a class="page-link" href="?page={{next}}">Next</a></li>
        {{/nextCheck}}
    </ul>
{{>layout/footer}}